<% content_for :page_title do %>
  <%= Spree.t(:listing_commission_transactions) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_affiliates_list), admin_affiliates_path, class: 'btn btn-default' %>
<% end %>

<% if @commission_transactions.any? %>
  <table class="table" id="listing_affiliates" data-hook>
    <thead>
      <tr data-hook="admin_affiliates_index_headers">
        <th><%= Spree.t(:object) %></th>
        <th><%= Spree.t(:date) %></th>
        <th><%= Spree.t(:amount) %></th>
        <th><%= Spree.t(:locked) %></th>
      </tr>
    </thead>
    <tbody>
      <% @commission_transactions.each do |transaction|%>
        <tr id="<%= spree_dom_id transaction %>" data-hook="admin_transactions_index_rows" class="<%= cycle('odd', 'even')%>">
          <% if transaction.commissionable_type.eql? 'Spree::User' %>
            <td class='transaction_name'><%=link_to transaction.commissionable.email, '' %></td>
          <% elsif transaction.commissionable_type.eql? 'Spree::Order' %>
            <td class='transaction_name'><%=link_to transaction.commissionable.number, '' %></td>
          <% end %>
          <td class='transaction_path align-center'><%= transaction.created_at %></td>
          <td class='transaction_count align-center'><%= transaction.amount %></td>
            <td class='transaction_status align-center' style="color: red"> <%= transaction.locked? %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @commission_transactions %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Affiliate)) %>
  </div>
<% end %>
